---
title: Collaboration
date: 2015-11-29 21:00:03
layout: contact
---

<p align="justify"><font size="3">We have research teams working on traffic flow and intelligent transportation systems. If you are 
interested in our research or data, please contact us. Or if you have similar research areas with us 
and have the intention of collaboration, you are also welcome to cooperate with us. You can contact us 
through the contact information on the buttom or in the comments below.</font></p>
<div id="tcomment"></div>
<script src="https://cdn.jsdelivr.net/npm/twikoo@1.4.4/dist/twikoo.all.min.js"></script>
<script>
twikoo.init({
  envId: 'twikoo-8gmdck36c8cd101e',
  el: '#tcomment',
  lang: 'en-US', 
})
</script>
