---
title: Projects
date: 2015-11-29 21:00:03
layout: page1
---
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
  <div class="col-md-12 col-sm-12">
    <div class="content-page">
      <div class="filter-v1">
	<ul class="mix-filter">
	  <li data-filter="all" class="filter active">All</li>
	  <li data-filter="category_1" class="filter">Tranportation Research Part-B</li>
	  <li data-filter="category_2" class="filter">Tranportation Research Part-C</li>
	  <li data-filter="category_3" class="filter">Tranportation Science</li>
	  <li data-filter="category_4" class="filter">Tranportation Research Part-F</li>
	  <li data-filter="category_5" class="filter">PloS One</li>
	</ul>
	<div class="row mix-grid thumbnails">
	  <div class="col-md-4 col-sm-6 mix category_5 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="/metronic/assets/pages/img/works/paper1.png" class="img-responsive">
	      <div class="mix-details">
		<h4  style="font-size:14px">Jiang, R., Hu, M. B., Zhang, H. M., Gao, Z. Y., Jia, 
B., Wu, Q. S., Wang, B., Yang, M. (2014). <strong>Traffic experiment reveals 
the nature of car-following.</strong> PloS one, 9(4), e94351.</h4>
		<a class="mix-link"><i class="fa fa-link"></i></a>
		<a title="Project Name" href="#project1" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>           
	      <div class="mix-info container">
		<h2><font color="#E94D1C">Traffic experiment reveals the nature of 
car-following</font></h2>
		<p style="font-size:18px";line-height: 50px align="justify">As a 
typical self-driven many-particle system far from equilibrium, traffic 
flow exhibits diverse fascinating non-equilibrium phenomena, most of 
which are closely related to traffic flow stability and specifically 
the growth/dissipation pattern of disturbances. However, the traffic 
theories have been controversial due to a lack of precise traffic data. 
We have studied traffic flow from a new perspective by carrying out 
large-scale car-following experiment on an open road section, which 
overcomes the intrinsic deficiency of empirical observations. The 
experiment has shown clearly the nature of car-following, which runs 
against the traditional traffic flow theory. Simulations show that by 
removing the fundamental notion in the traditional car-following models 
and allowing the traffic state to span a two-dimensional region in 
velocity-spacing plane, the growth pattern of disturbances has changed 
qualitatively and becomes qualitatively or even quantitatively in 
consistent with that observed in the experiment.</p>
		<div class="row quote-v1 margin-bottom-30">
		  <div class="col-md-12 quote-v1-inner">
		    <span>url:https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0094351</span>
		  </div>
		</div>
		<p>Citation: Jiang, R., Hu, M. B., Zhang, H. M., Gao, Z. Y., Jia, 
B., Wu, Q. S., Wang, B., Yang, M. (2014). Traffic experiment reveals 
the nature of car-following. PloS one, 9(4), e94351.</p>
	      </div>               
	    </div>                       
	  </div>
	  <div class="col-md-4 col-sm-6 mix category_1 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="/metronic/assets/pages/img/works/paper2.png" class="img-responsive">
	      <div class="mix-details">
		<h4  style="font-size:14px">Tian, J., Zhu, C., Chen, D., Jiang, R., Wang, G., and 
Gao, Z. <strong>Car following behavioral stochasticity analysis and modeling: 
Perspective from wave travel time.</strong> Transportation Research Part B: 
Methodological, 143:160–176 (2021).</h4>
		<a class="mix-link"><i class="fa fa-link"></i></a>
		<a title="Project Name" href="#project2" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>           
	      <div class="mix-info container">
		<h2><font color="#E94D1C">Car following behavioral stochasticity analysis and modeling: Perspective from wave travel time</font></h2>
		<p style="font-size:18px";line-height: 50px align="justify">This paper 
analyzes the car following behavioral stochasticity based on two sets 
of field experimental trajectory data by measuring the wave travel time 
series τ ̃_n (t) of vehicle n. The analysis shows that (i) No matter the 
speed of leading vehicle oscillates significantly or slightly, τ ̃_n (t) 
might change significantly; (ii) A follower's τ ̃_n (t) can vary from 
run to run even if the leader travels at the same stable speed; (iii) 
Sometimes, even if the leader's speed fluctuates significantly, the 
follower can keep a nearly constant value of τ ̃_n (t). The Augmented 
Dickey-Fuller test indicates that the time series ξ_n (t)=dτ ̃_n (t)/dt 
follows a mean reversion process, no matter the oscillations fully 
developed or not. Based on the finding, a simple stochastic Newell 
model is proposed. The concave growth pattern of traffic oscillations 
has been derived analytically. Furthermore, simulation results 
demonstrate that the new model well captures both macroscopic 
characteristic of traffic flow evolution and microscopic characteristic 
of car following.</p>
		<div class="row quote-v1 margin-bottom-30">
		  <div class="col-md-12 quote-v1-inner">
		    <span>url:https://www.sciencedirect.com/science/article/pii/S0191261520304380</span>
		  </div>
		</div>
		<p>Citation: Tian, J., Zhu, C., Chen, D., Jiang, R., Wang, G., and 
Gao, Z. Car following behavioral stochasticity analysis and modeling: 
Perspective from wave travel time. Transportation Research Part B: 
Methodological, 143:160–176 (2021).</p>
	      </div>               
	    </div>                       
	  </div>
	  <div class="col-md-4 col-sm-6 mix category_1 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="/metronic/assets/pages/img/works/paper3.png" class="img-responsive">
	      <div class="mix-details">
		<h4  style="font-size:14px">Zheng, S.-T., Jiang, R., Tian, J.-F., Zhang, H., Li, 
Z.-H., Gao, L.-D., and Jia, B. <strong>Experimental study on properties of 
lightly congested flow. </strong>Transportation Research Part B: Methodological, 
149:1–19 (2021).</h4>
		<a class="mix-link"><i class="fa fa-link"></i></a>
		<a title="Project Name" href="#project3" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>           
	      <div class="mix-info container">
		<h2><font color="#E94D1C">Experimental study on properties of lightly congested flow</font></h2>
		<p style="font-size:18px";line-height: 50px align="justify">Congested 
traffic flow exhibits rather complex properties of spatiotemporal 
evolution, e.g. stop-and-go waves, phantom jams, wide scattering of 
flow-density data, etc. To the best of our knowledge, previous 
car-following experiments on circular tracks only studied heavily 
congested flow. The experimental study concerning lightly congested 
flow, which exhibits different stability characteristic from heavily 
congested flow, is still lacking. To fill this gap, very recently we 
conducted a large-scale car-following experiment on an 812-meter 
circumference circuit with densities of 0.049, 0.043 and 0.037 m−1. The 
flow-density relation of the experiment is highly consistent with the 
empirical one, which indicates that the driving behavior in the 
experiment is similar to that in real traffic. By comparing the 
macroscopic spatiotemporal evolution diagrams in different runs under 
the same global density, we found that the traffic flow exhibits 
stochastic features with even the same initial conditions. We analyzed 
the car-following behavior and its relation to the macroscopic traffic 
flow evolution. It was found that the indifference region, the 
sensitivity of drivers, and the strength of stochasticity all 
contribute to the macroscopic traffic flow evolution pattern. 
Specifically, the traffic flow becomes more homogeneous in time-space 
with the expansion of indifference region, the overall decrease of 
sensitivity and the decrease of stochasticity strength. The roles of 
stochasticity and speed adaptation were further investigated. It was 
found that stronger traffic oscillations correspond to stronger 
stochasticity and speed adaptation. The analysis for competition 
between the two effects indicated that the ratio between speed 
adaptation effect and stochastic effect grows with the increase of the 
oscillation amplitude. The stochastic effect plays a dominant role in 
car following when the oscillation amplitude is small; its influence 
wanes and the speed adaptation effect grows to outweigh the influence 
of the stochastic effect as oscillation amplitude grows. These findings 
are expected to improve our understanding of the underlying mechanism 
that produces the spatiotemporal evolution patterns of lightly 
congested flow and the data collected in this study can be used to test 
traffic models and theories. </p>
		<div class="row quote-v1 margin-bottom-30">
		  <div class="col-md-12 quote-v1-inner">
		    <span>url:https://www.sciencedirect.com/science/article/pii/S0191261521000771</span>
		  </div>
		</div>
		<p>Citation: Zheng, S.-T., Jiang, R., Tian, J.-F., Zhang, H., Li, 
Z.-H., Gao, L.-D., and Jia, B.Experimental study on properties of 
lightly congested flow. Transportation Research Part B: Methodological, 
149:1–19 (2021).</p>
	      </div>               
	    </div>                       
	  </div>
	  <div class="col-md-4 col-sm-6 mix category_2 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="/metronic/assets/pages/img/works/paper4.png" class="img-responsive">
	      <div class="mix-details">
		<h4  style="font-size:14px">Huang, Y.-X., Jiang, R., Zhang, H., Hu, M.-B., Tian, J.-F., Jia, B., and Gao, Z.-Y.  <strong>Experimental study and modeling of car-following 
behavior under high speed situation. </strong>Transportation Research Part C: Emerging Technologies, 97:194–215 (2018).</h4>
		<a class="mix-link"><i class="fa fa-link"></i></a>
		<a title="Project Name" href="#project4" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>           
	      <div class="mix-info container">
		<h2><font color="#E94D1C">Experimental study and modeling of car-following behavior under high speed situation</font></h2>
		<p style="font-size:18px";line-height: 50px align="justify">To 
investigate the car-following behavior under high speed driving 
conditions, we performed a set of 11-car-platoon experiments on Hefei 
airport highway. The formation and growth of oscillations have been 
analyzed and compared with that in low speed situations. It was found 
that there is considerable heterogeneity for the same driver over 
different runs of the experiment. This intra-driver heterogeneity was 
quantitatively depicted by a new index and incorporated in an enhanced 
two-dimensional intelligent driver model. Using both the new high-speed 
and the previous low-speed experimental data, the new and three 
existing models were calibrated. Simulation results show that the 
enhanced model outperforms the three existing car-following models that 
do not take into account this intra-driver heterogeneity in reproducing 
the essential features of the traffic in the experiments.</p>
		<div class="row quote-v1 margin-bottom-30">
		  <div class="col-md-12 quote-v1-inner">
		    <span>url:https://www.sciencedirect.com/science/article/pii/S0968090X18308453</span>
		  </div>
		</div>
		<p>Citation: Huang, Y.-X., Jiang, R., Zhang, H., Hu, M.-B., Tian, J.-F., Jia, B., and Gao, Z.-Y. Experimental study and modeling of car-following 
behavior under high speed situation. Transportation Research Part C: Emerging Technologies, 97:194–215 (2018).</p>
	      </div>               
	    </div>                       
	  </div>
	  <div class="col-md-4 col-sm-6 mix category_2 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="/metronic/assets/pages/img/works/paper5.png" class="img-responsive">
	      <div class="mix-details">
		<h4  style="font-size:14px">Jiang, R., Jin, C.-J., Zhang, H., Huang, Y.-X., Tian, J.-F., Wang, W., Hu, M.-B., Wang, H., and Jia, B. <strong>Experimental and empirical 
investigations of traffic flow instability.</strong> Transportation Research Part C: Emerging Technologies, 94:83–98 (2018).</h4>
		<a class="mix-link"><i class="fa fa-link"></i></a>
		<a title="Project Name" href="#project5" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>           
	      <div class="mix-info container">
		<h2><font color="#E94D1C">Experimental and empirical investigations of traffic flow instability</font></h2>
		<p style="font-size:18px";line-height: 50px align="justify">Traffic instability is an important but 
undesirable feature of traffic flow. This paper reports our 
experimental and empirical studies on traffic flow instability. We have 
carried out a large scale experiment to study the car-following 
behavior in a 51-car-platoon. The experiment has reproduced the 
phenomena and confirmed the findings in our previous 25-car-platoon 
experiment, i.e., standard deviation of vehicle speeds increases in a 
concave way along the platoon. Based on our experimental results, we 
argue that traffic speed rather than vehicle spacing (or density) might 
be a better indicator of traffic instability, because vehicles can have 
different spacing under the same speed. For these drivers, there exists 
a critical speed between 30 km/h and 40 km/h, above which the standard 
deviation of car velocity is almost saturated (flat) along the 
51-car-platoon, indicating that the traffic flow is likely to be 
stable. In contrast, below this critical speed, traffic flow is 
unstable and can lead to the formation of traffic jams. Traffic data 
from the Nanjing Airport Highway support the experimental observation 
of existence of a critical speed. Based on these findings, we propose 
an alternative mechanism of traffic instability: the competition 
between stochastic factors and the so-called speed adaptation effect, 
which can better explain the concave growth of speed standard deviation 
in traffic flow.</p>
		<div class="row quote-v1 margin-bottom-30">
		  <div class="col-md-12 quote-v1-inner">
		    <span>url:https://doi.org/10.1016/j.trb.2021.04.013</span>
		  </div>
		</div>
		<p>Citation: Jiang, R., Jin, C.-J., Zhang, H., Huang, Y.-X., Tian, J.-F., Wang, W., Hu, M.-B., Wang, H., and Jia, B. Experimental and empirical 
investigations of traffic flow instability. Transportation Research Part C: Emerging Technologies, 94:83–98 (2018).</p>
	      </div>               
	    </div>                       
	  </div>
	  <div class="col-md-4 col-sm-6 mix category_1 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="/metronic/assets/pages/img/works/paper6.png" class="img-responsive">
	      <div class="mix-details">
		<h4  style="font-size:14px">Tian, J., Zhang, H. M., Treiber, M., Jiang, R., Gao, Z. 
Y., & Jia, B. (2019).<strong> On the role of speed adaptation and spacing 
indifference in traffic instability: Evidence from car-following 
experiments and its stochastic model. </strong>Transportation research part B: 
methodological, 129, 334-350.</h4>
		<a class="mix-link"><i class="fa fa-link"></i></a>
		<a title="Project Name" href="#project6" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>           
	      <div class="mix-info container">
		<h2><font color="#E94D1C">On the role of speed adaptation and spacing indifference in 
traffic instability: Evidence from car-following experiments and its stochastic 
model</font></h2>
		<p style="font-size:18px";line-height: 50px 
align="justify">Understanding the mechanisms responsible for the 
emergence and evolution of oscillations in traffic flow has been a 
subject of intensive research by numerous scholars. In our previous 
work, we proposed a new mechanism to explain the generation of traffic 
oscillations: traffic instability caused by the competition between 
speed adaptation and stochastic effects. By conducting a closer 
examination of car following data obtained in a 25-car platoon 
experiment, we discovered in this work that the speed difference plays 
a more important role on car-following dynamics than the spacing, and 
when its amplitude is small, the growth of oscillations is mainly 
determined by the stochastic factors that follow the mean reversion 
process; when its amplitude increases, the growth of the oscillations 
is determined by the competition between the stochastic factors and the 
speed difference. An explanation is then provided, based on the above 
findings, to why the speed variance in the oscillatory traffic grows in 
a concave way along the platoon. We also proposed a mode-switching 
stochastic car-following model that incorporates the speed adaptation 
and spacing indifference behavior of drivers, which captures the 
observed characteristics of oscillation and discharge rate. Finally, 
our sensitivity analysis shows that the influence on oscillation growth 
and discharge rate is small by the reaction delay but large by the 
indifference region boundary.</p>
		<div class="row quote-v1 margin-bottom-30">
		  <div class="col-md-12 quote-v1-inner">
		    <span>url:https://doi.org/10.1016/j.trb.2019.09.014</span>
		  </div>
		</div>
		<p>Citation: Tian, J., Zhang, H. M., Treiber, M., Jiang, R., Gao, Z. 
Y., & Jia, B. (2019). On the role of speed adaptation and spacing 
indifference in traffic instability: Evidence from car-following 
experiments and its stochastic model. Transportation research part B: 
methodological, 129, 334-350.</p>
	      </div>               
	    </div>                       
	  </div>
	  <div class="col-md-4 col-sm-6 mix category_1 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="/metronic/assets/pages/img/works/paper7.png" class="img-responsive">
	      <div class="mix-details">
		<h4  style="font-size:14px"> Tian, J. ,  Rui, J. ,  Li, G. ,  Treiber, M. , &  Ma, S. . 
(2016). <strong>Cellular automaton model simulating spatiotemporal patterns, 
phase transitions and evolution concavity in traffic flow.</strong> 
Transportation Research Part B Methodological, 93, 560-575.</h4>
		<a class="mix-link"><i class="fa fa-link"></i></a>
		<a title="Project Name" href="#project7" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>           
	      <div class="mix-info container">
		<h2><font color="#E94D1C">Cellular automaton model simulating spatiotemporal patterns, phase transitions and evolution concavity in traffic flow</font></h2>
		<p style="font-size:18px";line-height: 50px 
align="justify">This paper firstly show that a recent model 
(Tian et al., Transpn. Res. B 71, 138-157, 2015) is not able to well 
replicate the evolution concavity in traffic flow, i.e. the standard 
deviation of vehicles increases in a concave/linear way along the 
platoon. Then we propose an improved model by introducing the safe 
speed, the logistic function of the randomization probability, and 
small randomization deceleration for low-speed vehicles into the model. 
Simulations show that the improved model can well reproduce the 
metastable states, the spatiotemporal patterns, the phase transition 
behaviors of traffic flow, and the evolution concavity of traffic 
oscillations. Validating results show that the empirical time series of 
traffic speed obtained from Floating Car Data can be well simulated as 
well.</p>
		<div class="row quote-v1 margin-bottom-30">
		  <div class="col-md-12 quote-v1-inner">
		    <span>url:http://dx.doi.org/10.1016/j.trb.2016.08.008</span>
		  </div>
		</div>
		<p>Citation: Tian, J. ,  Rui, J. ,  Li, G. ,  Treiber, M. , &  Ma, S. . 
(2016). Cellular automaton model simulating spatiotemporal patterns, 
phase transitions and evolution concavity in traffic flow. 
Transportation Research Part B Methodological, 93, 560-575.</p>
	      </div>               
	    </div>                       
	  </div>
	  <div class="col-md-4 col-sm-6 mix category_4 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="/metronic/assets/pages/img/works/paper8.png" class="img-responsive">
	      <div class="mix-details">
		<h4 style="font-size:14px">Tian, J. ,  Jiang, R. ,  Li, G. ,  Treiber, M. ,  Jia, B. 
, &  Zhu, C. . (2016). <strong>Improved 2d intelligent driver model in the 
framework of three-phase traffic theory simulating synchronized flow 
and concave growth pattern of traffic oscillations.</strong> Transportation 
Research Part F Traffic Psychology & Behaviour, 41(pt.A), 55-65.</h4>
		<a class="mix-link"><i class="fa fa-link"></i></a>
		<a title="Project Name" href="#project8" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>           
	      <div class="mix-info container">
		<h2><font color="#E94D1C">Improved 2d intelligent driver model in the framework of three-phase traffic theory simulating synchronized flow and concave growth 
pattern of traffic oscillations</font></h2>
		<p style="font-size:18px";line-height: 50px 
align="justify">This paper firstly show that 2 Dimensional 
Intelligent Driver Model (Jiang et al., 2014) is not able to replicate 
the synchronized traffic flow. Then we propose an improved model by 
considering the difference between the driving behaviors at high speeds 
and that at low speeds, which is in the framework of three-phase 
traffic theory. Simulations show that the improved model can reproduce 
the phase transition from synchronized flow to wide moving jams, the 
spatiotemporal patterns of traffic flow induced by traffic bottleneck, 
and the concave growth pattern of traffic oscillations (i.e. the 
standard deviation of the velocities of vehicles increases in a 
concave/linear way along the platoon). Validating results show that the 
empirical time series of traffic speed obtained from Floating Car Data 
can be well simulated as well.</p>
		<div class="row quote-v1 margin-bottom-30">
		  <div class="col-md-12 quote-v1-inner">
		    <span>url:http://dx.doi.org/10.1016/j.trf.2016.06.005</span>
		  </div>
		</div>
		<p>Citation: Tian, J. ,  Jiang, R. ,  Li, G. ,  Treiber, M. ,  Jia, B. 
, &  Zhu, C. . (2016). Improved 2d intelligent driver model in the 
framework of three-phase traffic theory simulating synchronized flow 
and concave growth pattern of traffic oscillations. Transportation 
Research Part F Traffic Psychology & Behaviour, 41(pt.A), 55-65.</p>
	      </div>               
	    </div>                       
	  </div>
<div class="col-md-4 col-sm-6 mix category_1 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="/metronic/assets/pages/img/works/paper9.png" class="img-responsive">
	      <div class="mix-details">
		<h4  style="font-size:14px">Junfang Tian, Rui Jiang, Bin Jia, Ziyou Gao, Shoufeng Ma 
(2015). <strong>Empirical analysis and simulation of the evolution concavity of 
traffic oscillations.</strong> Transportation Research Part B: Methodological, 
93, 338–354.</h4>
		<a class="mix-link"><i class="fa fa-link"></i></a>
		<a title="Project Name" href="#project9" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>           
	      <div class="mix-info container">
		<h2><font color="#E94D1C">Empirical analysis and simulation of the evolution concavity of traffic oscillations</font></h2>
		<p style="font-size:18px";line-height: 50px 
align="justify">This paper has investigated the growth 
pattern of traffic oscillations in the NGSIM vehicle trajectories data, 
via measuring the standard deviation of vehicle velocity involved in 
oscillations. We found that the standard deviation of the velocity 
increases in a concave way along vehicles in the oscillations. 
Moreover, all datasets collapse into a single concave curve, which 
indicates a universal evolution law of oscillations. A comparison with 
traffic experiment shows that the empirical and the experimental 
results are highly compatible and can be fitted by a single concave 
curve, which demonstrates that qualitatively the growth pattern of 
oscillations is not affected by type of bottleneck and lane changing 
behavior. We have shown theoretically that small disturbances increase 
in a convex way in the initial stage in the traditional models 
presuming a unique relationship between speed and density, which 
obviously deviates from our findings. Simulations show that stochastic 
models in which the traffic state dynamically spans a 2D region in the 
speed-spacing plane can qualitatively or even quantitatively reproduce 
the concave growth pattern of traffic oscillations.</p>
		<div class="row quote-v1 margin-bottom-30">
		  <div class="col-md-12 quote-v1-inner">
		    <span>url:http://dx.doi.org/10.1016/j.trb.2016.08.001</span>
		  </div>
		</div>
		<p>Citation: Junfang Tian, Rui Jiang, Bin Jia, Ziyou Gao, Shoufeng Ma 
(2015). Empirical analysis and simulation of the evolution concavity of 
traffic oscillations. Transportation Research Part B: Methodological, 
93, 338–354.</p>
	      </div>               
	    </div>                       
	  </div>
	  <div class="col-md-4 col-sm-6 mix category_3 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="/metronic/assets/pages/img/works/paper10.png" class="img-responsive">
	      <div class="mix-details">
		<h4  style="font-size:14px">Junfang Tian, Bin Jia, Shoufeng Ma, Chenqiang Zhu, Rui Jiang, YaoXian Ding (2017) <strong>Cellular Automaton Model with 
Dynamical 2D Speed-Gap Relation. </strong>Transportation Science, 51(3):807-822.</h4>
		<a class="mix-link"><i class="fa fa-link"></i></a>
		<a title="Project Name" href="#project10" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>           
	      <div class="mix-info container">
		<h2> <font color="#E94D1C">Cellular Automaton Model with Dynamical 2D Speed-Gap Relation</font></h2>
		<p style="font-size:18px";line-height: 50px 
align="justify">This paper proposes an improved cellular automaton traffic flow model based on the brake light model, taking into account that the 
desired time gap of vehicles is larger than one second. Although the hypothetical steady state of vehicles in the deterministic limit corresponds to a unique 
relationship between speeds and gaps in the proposed model, the traffic states of vehicles dynamically span a two-dimensional region in the plane of speed versus 
gap, due to the various randomizations. We show that our model reproduces (i) the free flow, synchronized flow, wide moving jams, as well as transitions among 
the three phases; (ii) the evolution features of disturbances and the spatiotemporal patterns in a car-following platoon; (iii) the empirical time series of 
traffic speed obtained from Next Generation Simulation data. Furthermore, the basic feature of time headway distribution is also qualitatively reproduced. 
Therefore, we argue that a model has the potential to reproduce the empirical and experimental features of traffic flow, provided that the traffic states can 
dynamically span a 2D speed-gap region.</p>
		<div class="row quote-v1 margin-bottom-30">
		  <div class="col-md-12 quote-v1-inner">
		    <span>url:https://doi.org/10.1287/trsc.2015.0667</span>
		  </div>
		</div>
		<p>Citation: Junfang Tian, Bin Jia, Shoufeng Ma, Chenqiang Zhu, Rui Jiang, YaoXian Ding (2017) Cellular Automaton Model with Dynamical 2D Speed-Gap Relation. 
Transportation Science, 51(3):807-822.</p>
	      </div>               
	    </div>                       
	  </div>
	  	  <div class="col-md-4 col-sm-6 mix category_1 mix_all" style="display: block;  opacity: 1;">
	    <div class="mix-inner">
	      <img alt="" src="/metronic/assets/pages/img/works/paper11.png" class="img-responsive">
	      <div class="mix-details">
		<h4  style="font-size:14px"> Rui Jiang , MaoBin Hu , H.M.Zhang , ZiYou Gao , Bin Jia , Qingsong Wu (2015) <strong> On some experimental features of car-following behavior and how to model them. Transportation 
Research Part B: Methodological, 80, 338-354. </strong></h4>
		<a class="mix-link"><i class="fa fa-link"></i></a>
		<a title="Project Name" href="#project11" class="mix-preview"><i class="fa fa-search"></i></a>
	      </div>           
	      <div class="mix-info container">
		<h2> <font color="#E94D1C">On some experimental features of car-following behavior and how to model them</font></h2>
		<p style="font-size:18px";line-height: 50px 
align="justify">We have carried out car-following experiments with a 25-car-platoon on an open road
section to study the relation between a car’s speed and its spacing under various traffic
conditions, in the hope to resolve a controversy surrounding this fundamental relation of
vehicular traffic. In this paper we extend our previous analysis of these experiments, and
report new experimental findings. In particular, we reveal that the platoon length (hence
the average spacing within a platoon) might be significantly different even if the average
velocity of the platoon is essentially the same. The findings further demonstrate that the
traffic states span a 2D region in the speed-spacing (or density) plane. The common
practice of using a single speed-spacing curve to model vehicular traffic ignores the variability
and imprecision of human driving and is therefore inadequate. We have proposed
a car-following model based on a mechanism that in certain ranges of speed and spacing,
drivers are insensitive to the changes in spacing when the velocity differences between
cars are small. It was shown that the model can reproduce the experimental results well.</p>
		<div class="row quote-v1 margin-bottom-30">
		  <div class="col-md-12 quote-v1-inner">
		    <span>url:http://dx.doi.org/10.1016/j.trb.2015.08.003</span>
		  </div>
		</div>
		<p>Citation: Rui Jiang , MaoBin Hu , H.M.Zhang , ZiYou Gao , Bin Jia , Qingsong Wu (2015) On some experimental features of car-following behavior and how to model them. Transportation 
Research Part B: Methodological, 80, 338-354. </p>
	      </div>               
	    </div>                       
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
