---
title: Download
date: 2015-11-29 21:00:03
layout: contact
---
<p align="justify"><font size="3">To apply to download the dataset, please send us a request in the comment section below. Each request is checked manually and will be 
replied in three weekdays.Therefore, make sure that that your information are complete, detailed and correct.If any ambiguities arise, we may contact you for 
clarification purposes. </font></p>
<div id="tcomment"></div>
<script src="https://cdn.jsdelivr.net/npm/twikoo@1.4.4/dist/twikoo.all.min.js"></script>
<script>
twikoo.init({
  envId: 'twikoo-8gmdck36c8cd101e',
  el: '#tcomment',
  lang: 'en-US', 
})
</script>



  
