  <!-- BEGIN PRE-FOOTER -->
    <div class="pre-footer">
      <div class="container">
        <div class="row">
          <!-- BEGIN BOTTOM ABOUT BLOCK -->
          <div class="col-md-8 col-sm-6 pre-footer-col">
            <h2>Notice</h2>
            <p align= "justify">Data contained on this website are confidential and intended solely for the use of the individual who obtained a copy of them by personal email of the authors, or through the download link on the Traffic Open Data website. Reproduction, display, distribution and transmission of Data contained in the Traffic Open Data website to third-parties is forbidden.  
			<br>The data are provided "as is", without warranty of any kind, expressed or implied, including but not limited to the warranties of merchantability, fitness for a particular purpose, title, accuracy and non-infringement. In no event shall the authors or the Traffic Open Data website be liable for any damages, including without limitation, direct, indirect, incidental, special or consequential or any other liability, lost profits, expense, fee or cost, whether in contract, tort, statutory or otherwise, arising from, out of or in connection with the data or the use or any other dealings with, in or to the data. </p>
		  </div>
          <!-- END BOTTOM ABOUT BLOCK -->

          <!-- BEGIN BOTTOM CONTACTS -->
          <div class="col-md-4 col-sm-6 pre-footer-col">
            <h2>Contact</h2>
            <address class="margin-bottom-40">
              Email: <a href="mailto:<%= theme.email %>"><%= theme.email %></a><br>
			  Wechat:
			  <img src="/metronic/assets/pages/img/communication/wechat.png" width="40%"><br>
            </address>
          </div>
          <!-- END BOTTOM CONTACTS -->
        </div>
      </div>
    </div>
    <!-- END PRE-FOOTER -->

    <!-- BEGIN FOOTER -->
    <div class="footer">
      <div class="container">
        <div class="row">
		  <style>.copyright{line-height:40px}</style>
		  <div class="col-md-6 col-sm-6 padding-top-10" style="font-size:22px"><span id="busuanzi_container_site_pv"><span id="busuanzi_value_site_pv"></span> visits  |  </span>	
		  <span id="busuanzi_container_site_uv"><span id="busuanzi_value_site_uv"></span>  visitors</span></div>
		  <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
        </div>
      </div>
    </div>
    <!-- END FOOTER -->
	
