---
layout: index
---
<div class="container-fluid">
  <div class="row margin-bottom-40 row-corporate bg-light-1">
    <div class="container">
      <div class="col-xs-8 col-sm-6 row-corporate-text-container">
	<div class="row-corporate-text">
	  <h1>Welcome to <b class="require">Traffic Open Data</b>.</h1>
	  <h4 class="wow fadeIn">TOD (Traffic Open Data) is an Open source Traffic Datasets with rich 
experimental scenarios. We aim to use TOD for traffic behavior and phenomena analysis and 
modeling, to reveal the characteristics of traffic flow and its spatio-temporal evolution. If 
you are interested in our data or research, please contact us without hesistation.</h4>
	  <h4 class="wow fadeIn">We will gradually enrich the experimental scenes (periodic boundary, 
multi lanes, speed limit, merging and diverging, lane changes, ACC vehicle-general vehicle mixed 
traffic flow, etc.).</h4>
	</div>
      </div>
      <div class="col-xs-5 col-sm-6">
	<img src="/metronic/assets/pages/img/frontend-slider/home4.jpg">
      </div>
    </div>
  </div>
</div>
<div class="container">
    <div class="row service-box margin-bottom-40">
      <div class="col-md-4 col-sm-4">
	<div class="service-box-heading">
	  <em><i class="fa fa-location-arrow blue wow rollIn"></i></em>
	  <span>Diverse Scenario</span>
	</div>
	<div style="font-size=25px">We will gradually enrich the experimental scenes (periodic boundary, multi lanes, speed limit, merging and diverging, lane changes, ACC vehicle-general vehicle mixed traffic 
flow, etc.).</div>
      </div>
      <div class="col-md-4 col-sm-4">
	<div class="service-box-heading">
	  <em><i class="fa fa-check red wow rollIn"></i></em>
	  <span>Pinpoint Accuracy</span>
	</div>
	<div style="font-size= 25px">High-precision GPS devices are used to record the vehicle's position and speed every 0.1 
seconds.The measurement errors of the GPS devices were within ± 1 m for location and within ± 1 
km/h for velocity.</div>
      </div>
      <div class="col-md-4 col-sm-4">
	<div class="service-box-heading">
	  <em><i class="fa fa-compress green wow rollIn"></i></em>
	  <span>Open Source</span>
	</div>
	<div style="font-size=25px">Controlled traffic flow experiments can isolate the effects of various confounding factors, and gain a deeper understanding of traffic dynamics. Therefore, an open and shared 
traffic flow database will help to promote research in this field.</div>
      </div>
    </div>
    </div>


<div class="main">
  <div class="container">
    <!-- BEGIN STEPS -->
    <div class="row margin-bottom-40 front-steps-wrapper front-steps-count-3 wow
    fadeIn">
      <div class="col-md-4 col-sm-4 front-step-col">
	<div class="front-step front-step1">
	  <h2>Experiment</h2>
	</div>
      </div>
      <div class="col-md-4 col-sm-4 front-step-col">
	<div class="front-step front-step2">
	  <h2>Data</h2>
	</div>
      </div>
      <div class="col-md-4 col-sm-4 front-step-col">
	<div class="front-step front-step3">
	  <h2>Modeling</h2>
	</div>
      </div>
    </div>
    <!-- END STEPS -->

	
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
  <!-- BEGIN CONTENT -->
  <div class="col-md-12 col-sm-12">
    <div class="content-page">
      <div class="row margin-bottom-30">
	<!-- BEGIN INFO BLOCK -->               
	<div class="col-md-7">
	  <h2 class="no-top-space">About Us</h2>
	  <h4 style="font-size= 12px">Traffic flow theory is a basic science that uses models to describe the interaction between vehicles (or non-motor vehicles/pedestrians) and road 
facilities and environment. Since Greenshields put forward the flow velocity relationship model in 1935, the traffic flow theory has a development history of more than 80 years. 
However, Due to the lack of data and the complex of traffic environment, the nature of traffic flow is still not clear.</h4> 
	  <h4 style="font-size= 12px">We have conducted a series of field traffic flow experiments (including various platoon lengths and platoon speeds) to gain a deeper understanding of 
traffic dynamics by identifying the true origins of the puzzling traffic flow phenomena. A fruitful of researches have been published in Journals of Transportation Research 
Part-B, Part-C, IEEE-ITS. etc.</h4>
	  <br><br>
	  <!-- BEGIN LISTS -->
	  <div class="row front-lists-v1">
	    <div class="col-md-6">
	      <ul class="list-unstyled margin-bottom-20">
		<li><i class="fa fa-check"></i> Transportation Science</li>
		<li><i class="fa fa-check"></i> Intelligent Transportation System</li>
		<li><i class="fa fa-check"></i> Traffic Flow Theory</li>
	      </ul>
	    </div>
	    <div class="col-md-6">
	      <ul class="list-unstyled">
		<li><i class="fa fa-check"></i> Travel Behavior Analysis</li>
		<li><i class="fa fa-check"></i> Field Traffic Flow Experiment </li>
		<li><i class="fa fa-check"></i> Transport Policy</li>
	      </ul>
	    </div>
	  </div>
	  <!-- END LISTS -->
	</div>
	<!-- END INFO BLOCK -->   

	<!-- BEGIN PROGRESS BAR -->
	<div class="col-md-5 front-skills">
		<br><br>
		<img src="/metronic/assets/pages/img/frontend-slider/home3.jpg" width="80%"/>
	</div>                       
	<!-- END PROGRESS BAR -->
      </div>
	  	  <h2 class="no-top-space">Our Team</h2>

      <div class="row front-team">
	<ul class="list-unstyled">
	  <li class="col-md-3">
	    <div class="thumbnail">
              <img src='../metronic/assets/pages/img/people/Rui-Jiang.jpg'>
	      <h3>
		<strong>Dr.Rui Jiang</strong> 
		<small>Professor</small>
	      </h3>
	      <p align= "justify">Rui Jiang is currently a professor and doctoral supervisor with the School of Traffic and Transportation, Beijing Jiaotong University. He is involved in the fields of 
traffic flow theory, intelligent transportation systems and travel behavior analysis. </p>
	      <ul class="social-icons social-icons-color">
		<li><a class="aboutme" data-original-title="Aboutme" href="https://labbuzhou.github.io/2021/08/17/Rui-Jiang/"></a></li>
	      </ul>
	    </div>
	  </li>
	  <li class="col-md-3">
	    <div class="thumbnail">
              <img src='../metronic/assets/pages/img/people/Junfang-Tian.jpg'>
	      <h3>
		<strong>Dr.Junfang Tian</strong> 
		<small>Associate professor</small>
	      </h3>
	      <p align= "justify">Junfang Tian is currently an associate professor and master's supervisor with the Institute of Systems Engineering, Department of Management and Economics, Tianjin 
University. His main research interests are traffic system simulation and behavior experiments.</p>
	      <ul class="social-icons social-icons-color">
		<li><a class="aboutme" data-original-title="Aboutme" href="https://labbuzhou.github.io/2021/08/11/Junfang-Tian/"></a></li>
	      </ul>
	    </div>
	  </li>
	</ul>            
      </div>
	  
	  <div class="row front-team">
	<ul class="list-unstyled">
	  <li class="col-md-3">
	    <div class="thumbnail">
              <img src='../metronic/assets/pages/img/people/Shiteng-Zheng.jpg'>
	      <h3>
		<strong>Shiteng Zheng</strong> 
		<small>Ph.D Candicate</small>
	      </h3>
	      <p align= "justify">Shiteng Zheng is currently a PhD candidate with the Key Laboratory of Transport Industry of Big Data Application Technologies for Comprehensive Transport, Ministry of 
Transport, Beijing Jiaotong University. His research interest covers traffic flow theory and experiment.</p>
	      <ul class="social-icons social-icons-color">
		<li><a class="aboutme" data-original-title="Aboutme" href="https://labbuzhou.github.io/2021/08/17/Shiteng-Zheng"></a></li>
	      </ul>
	    </div>
	  </li>
	  <li class="col-md-3">
	    <div class="thumbnail">
              <img src='../metronic/assets/pages/img/people/Guohong-Wu.jpg'>
	      <h3>
		<strong>Guohong Wu</strong> 
		<small>Ph.D Candicate</small>
	      </h3>
	      <p align= "justify">Guohong Wu is currently a PhD candidate with the Institute of Systems Science and Engineering, Beijing Jiaotong University. His research interests include trajectory 
planning, and collaborative driving.</p>
			<br><br>
	      <ul class="social-icons social-icons-color">
		<li><a class="aboutme" data-original-title="Aboutme" href="https://labbuzhou.github.io/2021/08/17/Guohong-Wu"></a></li>
	      </ul>
	    </div>
	  </li>
	  <li class="col-md-3">
	    <div class="thumbnail">
              <img src='../metronic/assets/pages/img/people/Bangkai-Xiong.jpg'>
	      <h3>
		<strong>Bangkai Xiong</strong> 
		<small>Ph.D Candicate</small>
	      </h3>
	      <p align= "justify">Bangkai Xiong is currently a PhD candidate with the Institute of Systems Science and Engineering, Beijing Jiaotong University.His research interest covers Driving behavior 
analysis,traffic flow modelling and Intelligent transportation system.</p>
	      <ul class="social-icons social-icons-color">
		<li><a class="aboutme" data-original-title="Aboutme" href="https://labbuzhou.github.io/2021/08/17/Bangkai-Xiong"></a></li>
	      </ul>
	    </div>
	  </li>
	</ul>            
      </div>

    </div>
  </div>
  <!-- END CONTENT -->
</div>
<!-- END SIDEBAR & CONTENT -->
    <!-- BEGIN CLIENTS -->
    <div class="row margin-bottom-40 our-clients">
      <div class="col-md-3">
	<h2><a href="javascript:;">Our FriendLink</a></h2>
	<p>Cooperative units and teams</p>
      </div>
      <div class="col-md-9">
	<div class="owl-carousel owl-carousel6-brands">
	  <div class="client-item">
	    <a href="javascript:;">
	      <img src="metronic/assets/pages/img/clients/bjtu_grey.png" class="img-responsive" alt="">
	      <img src="metronic/assets/pages/img/clients/bjtu.png" class="color-img img-responsive" alt="">
	    </a>
	  </div>
	  <div class="client-item">
	    <a href="javascript:;">
	      <img src="metronic/assets/pages/img/clients/client_2_gray.png" class="img-responsive" alt="">
	      <img src="metronic/assets/pages/img/clients/client_2.png" class="color-img img-responsive" alt="">
	    </a>
	  </div>
	  <div class="client-item">
	    <a href="javascript:;">
	      <img src="metronic/assets/pages/img/clients/client_3_gray.png" class="img-responsive" alt="">
	      <img src="metronic/assets/pages/img/clients/client_3.png" class="color-img img-responsive" alt="">
	    </a>
	  </div>
	  <div class="client-item">
	    <a href="javascript:;">
	      <img src="metronic/assets/pages/img/clients/client_4_gray.png" class="img-responsive" alt="">
	      <img src="metronic/assets/pages/img/clients/client_4.png" class="color-img img-responsive" alt="">
	    </a>
	  </div>
	  <div class="client-item">
	    <a href="javascript:;">
	      <img src="metronic/assets/pages/img/clients/client_5_gray.png" class="img-responsive" alt="">
	      <img src="metronic/assets/pages/img/clients/client_5.png" class="color-img img-responsive" alt="">
	    </a>
	  </div>
	  <div class="client-item">
	    <a href="javascript:;">
	      <img src="metronic/assets/pages/img/clients/client_6_gray.png" class="img-responsive" alt="">
	      <img src="metronic/assets/pages/img/clients/client_6.png" class="color-img img-responsive" alt="">
	    </a>
	  </div>
	  <div class="client-item">
	    <a href="javascript:;">
	      <img src="metronic/assets/pages/img/clients/client_7_gray.png" class="img-responsive" alt="">
	      <img src="metronic/assets/pages/img/clients/client_7.png" class="color-img img-responsive" alt="">
	    </a>
	  </div>
	  <div class="client-item">
	    <a href="javascript:;">
	      <img src="metronic/assets/pages/img/clients/client_8_gray.png" class="img-responsive" alt="">
	      <img src="metronic/assets/pages/img/clients/client_8.png" class="color-img img-responsive" alt="">
	    </a>
	  </div>                  
	</div>
      </div>          
    </div>
    <!-- END CLIENTS -->
  </div>
</div>

