<div class="container">
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="<%= theme.menu ? theme.menu.Data : '/archives/' %>">CV</a></li>
  </ul>
  <section id="main">
    <%- partial('_partial/post/title', {class_name: 'article-title', post: page,
    index: false}) %>
    <%- partial('_partial/articlecv', {post: page, index: false}) %>
  </section>
</div>
