<div class="container">
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Publication</li>
  </ul>
  <div class="main">
    <h1>Publication</h1>
    <%- page.content %> 
  </div>
</div>
